.animate-section-4 {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

#section-4 {
  background-color: var(--grey);
  width: 100%;
  padding: 2rem 0 5rem;
  gap: 4rem;
  margin: 0 auto 15rem auto;

  display: flex;
  align-items: center;
  flex-direction: column;

  opacity: 0;
  transform: translateY(-5rem);
  transition: opacity 1s ease, transform 1s ease;
}

#section-4 .title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity 1s ease, transform 1s ease;
}

#section-4 .title {
  user-select: none;
  color: #fff;
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
}

#section-4 .subtitle {
  user-select: none;
  font-family: "Archivo", sans-serif;
  color: var(--lightPurple);
  font-weight: 500;
  font-size: 1.2rem;

  position: relative;
  text-align: center;

  &::before {
    content: "";
    display: block;
    background-color: #fff;

    width: 2rem;
    height: 3px;

    position: absolute;
    top: 50%;
    right: calc(100% + 5px);

    animation: lineSubtitleOut 0.3s ease forwards;
  }

  &::after {
    content: "";
    display: block;
    background-color: #fff;

    width: 2rem;
    height: 3px;

    position: absolute;
    top: 50%;
    left: calc(100% + 5px);

    animation: lineSubtitleOut 0.3s ease forwards;
  }
}

#section-4 .title-subtitle:hover .subtitle::before,
#section-4 .title-subtitle:hover .subtitle::after {
  animation: lineSubtitleIn 0.3s ease forwards;
}

#section-4 .container {
  font-family: "Archivo", sans-serif;
  background-color: var(--grey);

  max-width: 70rem;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

#section-4 .container .experiences {
  background-color: var(--darkGrey);

  width: 20rem;
  height: auto;
  gap: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#section-4 .container .experiences > div {
  background-color: var(--darkGrey);

  width: 100%;
  height: 4rem;
  padding-left: 3rem;

  display: flex;
  align-items: center;
}

#section-4 .container .experiences > div span {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

#section-4 .container .experiences .prodam {
  cursor: pointer;
  color: var(--purple);

  border-left: 6px solid var(--purple);
  padding-left: calc(3rem - 6px);

  transition: border-left 0.2s ease;
}

#section-4 .container .experiences .prodam span {
  color: var(--purple);
}

#section-4 .container .card {
  background-color: var(--grey);

  width: 100%;
  max-height: 20rem;
  padding: 1.3rem 2rem 2rem;
  gap: 1.5rem;

  display: flex;
  flex-direction: column;
}

#section-4 .container .card .card-title-date {
  width: 100%;
  gap: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#section-4 .container .card .card-title-date #card-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: start;
}

#section-4 .container .card .card-title-date .card-date-time {
  color: var(--lightGrey);
  font-size: 1.2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#section-4 .container .card .card-title-date .card-date-time #date {
  white-space: nowrap;
}

#section-4 .container .card #card-business {
  color: var(--purple);
  font-size: 1.2rem;
}

#section-4 .container .card #card-description {
  color: var(--lightGrey);
  font-size: 1.15rem;
  line-height: 1.8rem;
  text-align: justify;
}
