.animate-section-2 {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

#section-2 {
  background-color: #ffffff;

  width: 90%;
  padding-bottom: 3rem;
  border-radius: 1rem;
  margin: 0 auto 15rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  transform: translateY(-5rem);
  transition: opacity 1s ease, transform 1s ease;
}

#section-2 .title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity 1s ease, transform 1s ease;
}

#section-2 .title {
  user-select: none;
  color: var(--background);
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
}

#section-2 .subtitle {
  user-select: none;
  font-family: "Archivo", sans-serif;
  color: var(--darkBlue);
  font-weight: 500;
  font-size: 1.2rem;

  position: relative;

  text-align: center;

  &::before {
    content: "";
    display: block;
    background-color: #000000;

    width: 2rem;
    height: 3px;

    position: absolute;
    top: 50%;
    right: calc(100% + 5px);

    animation: lineSubtitleOut 0.3s ease forwards;
  }

  &::after {
    content: "";
    display: block;
    background-color: #000000;

    width: 2rem;
    height: 3px;

    position: absolute;
    top: 50%;
    left: calc(100% + 5px);

    animation: lineSubtitleOut 0.3s ease forwards;
  }
}

#section-2 .title-subtitle:hover .subtitle::before,
#section-2 .title-subtitle:hover .subtitle::after {
  animation: lineSubtitleIn 0.3s ease forwards;
}

#section-2 .about {
  width: 90%;
  padding-bottom: 3rem;
  margin-top: 1rem;
  border-radius: 0 0 1rem 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#section-2 .me {
  user-select: none;
  width: 16rem;
  height: 19rem;
  border-radius: 1rem;
}

#section-2 .description {
  font-family: "Mulish", sans-serif;
  font-style: italic;
  text-align: justify;
  word-break: keep-all;
  align-self: center;
  font-size: 1.4rem;
  font-weight: 400;

  max-width: 62.5rem;
  margin-left: 5rem;
  padding-right: 3.75rem;
}

#section-2 .cv-div {
  text-align: center;
}

#section-2 .cv-div > button {
  user-select: none;
  font-family: "Raleway", sans-serif;
  background-color: var(--purple);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;

  border: none;
  box-shadow: 4px 4px 1px black;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 5px;
  margin-top: -3rem;

  transition: background-color 0.2s ease-in-out, transform 0.1s ease-out;

  &:hover {
    cursor: pointer;
    background-color: var(--darkPurple);
  }
}

#section-2 .cv-div > button:active {
  transform: scale(0.95);
}

#modal-cv {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);

  display: none;
  z-index: 1;

  overflow: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#modal-cv #cv-close {
  font-family: "Raleway", sans-serif;
  background-color: red;
  color: aliceblue;
  font-size: 1rem;
  font-weight: 600;
  display: none;

  width: 10rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 1;

  position: absolute;
  top: 0;
  left: -20rem;
}

#modal-cv a img {
  width: 37rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#modal-cv a .cv-span {
  font-family: "Raleway", sans-serif;
  background-color: var(--background);
  color: aliceblue;
  font-size: 1rem;
  font-weight: 600;
  display: none;

  width: 10rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 1;

  position: absolute;
}
