:root {
  --lightBackground: #2f4252;
  --background: #121e27;
  --darkBackground: #0d161d;
  --lightGrey: #ced2da;
  --grey: #151515;
  --darkGrey: #111111;
  --orange: #f07d53;
  --red: #ff0000;
  --darkRed: #b91c1c;
  --blue: #64a7ff;
  --darkBlue: #2563eb;
  --lightPurple: #a78bfa;
  --purple: #986dff;
  --darkPurple: #6d4eb6;
}
