footer {
  margin-top: 10rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}
