@import url(configs/reset.css);
@import url(configs/fonts.css);
@import url(configs/variables.css);
@import url(scrollbar.css);
@import url(loading.css);
@import url(scroll-to-top.css);
@import url(background.css);
@import url(menu.css);
@import url(sections/section-1.css);
@import url(sections/section-2.css);
@import url(sections/section-3.css);
@import url(sections/section-4.css);
@import url(sections/section-5.css);
@import url(sections/section-6.css);
@import url(footer.css);

body {
  background-color: var(--background);
  min-height: 100vh;
  overflow-x: hidden;
  cursor: default;
  display: flex;
  flex-direction: column;
}

.disable {
  display: none !important;
}

@keyframes lineSubtitleIn {
  from {
    width: 2rem;
  }
  to {
    width: 0;
  }
}

@keyframes lineSubtitleOut {
  from {
    width: 0rem;
  }
  to {
    width: 2rem;
  }
}

@media screen and (max-width: 1440px) {
  #section-2 .description {
    font-size: 1.2rem;
    margin-left: 4rem;
  }
}

@media screen and (max-width: 1300px) {
  .background-cv > a > img {
    width: 500px;
  }
}

@media screen and (max-width: 1150px) {
  #section-1 .container-2 > img {
    width: 25rem;
  }

  #section-2 .about {
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  #section-2 .me {
    margin-top: 3rem;
    width: 14rem;
    height: 17rem;
  }

  #section-2 .description {
    max-width: 50rem;
    padding: 0;
    margin-left: 0;
    margin-top: 3rem;
  }

  #section-5 .container {
    background-color: var(--darkBackground);
    width: 100%;
    gap: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #section-5 .carousel {
    width: 36.5rem;
  }

  #section-5 .project {
    min-width: 36.5rem;
    max-width: 36.5rem;
    padding: 0rem;
    flex-direction: column;
  }

  #section-5 .container-1 {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  #scroll-to-top {
    width: 4rem;
    height: 4rem;

    right: 3rem;
    bottom: 2rem;
  }

  #scroll-to-top img {
    width: 3rem;
  }

  #section-1 {
    width: 90%;
    justify-content: flex-start;
  }

  #section-1 .container-2 {
    display: none;
  }

  #section-4 .container {
    flex-direction: column;
    gap: 2rem;
  }

  #section-4 .container .experiences {
    width: 100%;
  }

  #section-6 .container {
    flex-direction: column;
  }

  #section-6 .container .details {
    width: 70%;
  }

  #section-6 .container .details .background-contact-info {
    width: 100%;
  }

  #section-6 .container .details .background-contact-info::before,
  #section-6 .container .details .background-contact-info::after {
    display: none;
  }

  #section-6 .container .details .contact-info {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  #menu > li > button {
    font-size: 1.3rem;
  }

  #section-3 > div > ul {
    grid-template-columns: repeat(2, 1fr);
  }

  #section-5 {
    gap: 2rem;
  }

  #section-5 .container {
    background-color: var(--darkBackground);
    width: 100%;
    gap: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #section-5 .carousel {
    width: 30rem;
  }

  #section-5 .project {
    min-width: 30rem;
    max-width: 30rem;
    padding: 0rem;
    padding-bottom: 2rem;
    flex-direction: column;
  }

  #section-5 .container-1 {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  #scroll-to-top {
    width: 3rem;
    height: 3rem;

    right: 2rem;
  }

  #scroll-to-top img {
    width: 2.5rem;
  }

  .welcome {
    margin-top: 100px;
  }

  #section-1 {
    justify-content: center;
    margin-left: 2rem;
  }

  #section-2 .me {
    width: 10rem;
    height: 12.5rem;
  }

  #section-2 .description {
    max-width: 40rem;
    font-size: 1rem;
  }

  #modal-cv > a > img {
    width: 30rem;
  }

  #section-3 > div > ul {
    gap: 1rem;
  }

  #section-3 .tech {
    width: 160px;
    height: 110px;
  }

  #section-3 .typewriter {
    font-size: 1rem;
  }

  #section-3 .tech > img {
    width: 3.8rem;
    height: 4rem;
  }

  #section-5 {
    width: 100%;
  }

  #section-5 .container {
    gap: 2rem;
  }

  #section-5 .carousel {
    width: 28rem;
  }

  #section-5 .project {
    min-width: 28rem;
    max-width: 28rem;
  }
}

@media screen and (max-height: 860px) {
  #section-1 {
    margin-top: 15rem;
  }

  #section-1,
  #section-2,
  #section-3,
  #section-4,
  #section-5 {
    margin-bottom: 10rem;
  }

  #modal-cv > a > img {
    width: 30rem;
  }

  #section-4 .container .card {
    max-height: 18rem;
  }

  #section-4 .container .card #card-description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #section-3 .container ul {
    grid-template-columns: repeat(2, 1fr);
  }

  #section-4 .container .card {
    max-height: 23rem;
  }

  #section-4 .container .card #card-description {
    font-size: 1.1rem;
  }

  #section-5 .carousel {
    width: 22.4rem;
  }

  #section-5 .project {
    min-width: 22.4rem;
    max-width: 22.4rem;
  }
}

@media screen and (max-width: 530px) {
  #scroll-to-top {
    width: 3rem;
    height: 3rem;
    right: 1rem;
    bottom: 4rem;
  }

  #scroll-to-top img {
    width: 2.5rem;
  }

  #section-1 {
    margin-top: 10rem;
  }

  #section-1 .title {
    font-size: 2.5rem;
  }

  #section-1 .subtitle {
    font-size: 2rem;
    margin-left: 1rem;
  }
  #section-1 .container-1 .summary {
    font-size: 1rem;
    width: 400px;
  }

  #modal-cv > a > img {
    width: 25rem;
  }

  #section-3 .tech {
    width: 10rem;
    height: 7rem;
    scale: 0.85;
  }

  #section-3 .typewriter {
    font-size: 1rem;
  }

  #section-4 .container .card {
    max-height: 27rem;
  }

  #section-5 .container {
    gap: 2rem;
  }

  #section-5 .carousel {
    width: 19.5rem;
  }

  #section-5 .project {
    min-width: 19.5rem;
    max-width: 19.5rem;
  }

  #section-5 .container-2 .description {
    font-size: 0.8rem;
  }

  #section-6 .container {
    gap: 5rem;
  }

  #section-6 .container,
  #section-6 .container form {
    width: 100%;
  }

  #section-6 .container .details {
    width: 100%;
    gap: 1rem;
  }

  #section-6 .container .details .contact-info .background-icon {
    width: 2rem;
    height: 2rem;
  }

  #section-6 .container .details .contact-info div {
    font-size: 0.8rem;
  }
}


@media screen and (max-height: 900px) {
  #section-1{
    margin-top: 15rem;
  }
}


@media screen and (max-height: 720px) {
  #section-1 {
    margin-top: 12rem;
  }

  #modal-cv > a > img {
    width: 25rem;
  }
}

@media screen and (max-width: 450px) {
  #section-1,
  #section-2,
  #section-3,
  #section-4,
  #section-5 {
    margin-bottom: 8rem;
  }

  #section-1 .title,
  #section-2 .title,
  #section-3 .title,
  #section-4 .title,
  #section-5 .title,
  #section-6 .title {
    font-size: 2.8rem;
  }

  #section-1 {
    margin-left: 0;
    width: 100%;
  }

  #section-1 .title {
    margin-left: 0;
    font-size: 2.3rem;
  }

  #section-1 .subtitle {
    font-size: 1.7rem;
    margin-left: 0rem;
  }
  #section-1 .container-1 .summary {
    font-size: 1rem;
    width: 300px;
  }

  #modal-cv > a > img {
    width: 20rem;
  }

  #section-4 .container .card {
    max-height: 27rem;
  }

  #section-4 .container .card .card-title-date #card-title {
    font-size: 1.4rem;
  }

  #section-4 .container .card .card-title-date .card-date-time {
    font-size: 1.1rem;
  }

  #section-4 .container .card #card-description {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  #section-5 {
    padding: 2.5rem 0 1rem;
  }

  #section-5 .container {
    gap: 0.2rem;
  }

  #section-5 #next img,
  #section-5 #previous img {
    height: 3rem;
    width: 2rem;
  }

  #section-5 .carousel {
    width: 19.5rem;
  }

  #section-5 .project {
    min-width: 19.5rem;
    max-width: 19.5rem;
  }

  #section-5 .container-2 .buttons .button-site-inactive::after {
    font-size: 0.8rem;
    height: 3.5rem;
    padding: 0 1rem;
    border-radius: 8px;

    position: absolute;
    top: -150%;
    left: -0.5rem;
  }

  footer {
    margin-top: 4rem;
  }

  footer span {
    font-size: 0.8rem;
  }
}

@media screen and (max-height: 600px) {
  #modal-cv > a > img {
    width: 20rem;
  }
}

@media screen and (max-width: 375px) {
  #section-1 .title,
  #section-2 .title,
  #section-3 .title,
  #section-4 .title,
  #section-5 .title,
  #section-6 .title {
    font-size: 2.4rem;
  }

  #section-1 {
    margin-left: 0 !important;
    width: 100%;
  }

  #section-1 .title {
    margin-left: 0;
    font-size: 2rem;
  }

  #section-1 .subtitle {
    font-size: 1.5rem;
  }

  #section-1 .container-1 .summary {
    font-size: 1rem;
    width: 280px;
  }

  #modal-cv > a > img {
    width: 15rem;
  }

  #section-3 .tech {
    width: 9rem;
    height: 7rem;
  }

  #section-4 .container .card {
    max-height: 30rem;
  }

  #section-4 .container .card .card-title-date #card-title {
    font-size: 1.2rem;
  }

  #section-4 .container .card .card-title-date .card-date-time {
    font-size: 1.1rem;
  }

  #section-4 .container .card #card-business {
    font-size: 1.1rem;
  }

  #section-5 .container {
    gap: 0.2rem;
  }

  #section-5 #next img,
  #section-5 #previous img {
    height: 3rem;
    width: 2rem;
  }

  #section-5 .carousel {
    width: 15.5rem;
  }

  #section-5 .project {
    min-width: 15.5rem;
    max-width: 15.5rem;
  }
}

@media screen and (max-height: 500px) {
  #modal-cv > a > img {
    width: 15rem;
  }
}

@media screen and (max-width: 340px) {
  #section-1 .title,
  #section-2 .title,
  #section-3 .title,
  #section-4 .title,
  #section-5 .title,
  #section-6 .title {
    font-size: 2rem;
  }

  #section-1 {
    justify-content: center;
    margin-left: 20px;
  }

  #section-1 .subtitle {
    font-size: 1.4rem;
  }

  #section-3 .container ul {
    gap: 0;
  }

  #section-3 .tech {
    width: 8rem;
    height: 7rem;
  }

  #section-4 .container .card {
    max-height: 35rem;
  }

  #section-4 .container .card .card-title-date #card-title {
    font-size: 1.1rem;
  }

  #section-4 .container .card .card-title-date .card-date-time {
    font-size: 1rem;
  }

  #section-4 .container .card #card-business {
    font-size: 1rem;
  }

  #section-4 .container .card #card-description {
    font-size: 0.9rem;
  }
}
